# Build folders
bin/
obj/

# Visual Studio
.vs/

# User files
*.user
*.suo

# Rider / VSCode
.idea/
.vscode/

# Codex extracted files
.codex_pdf_extract/

*temp.txt

legacy/

*.nupkg
*.snupkg
*.psmdcp
.signature.p7s
[Content_Types].xml
_rels/
packages/
*.html
*.md
docs/
*.pdf
*.py